@import "bootstrap";

html, body{
  height:100%;
  position: relative;
}

canvas#myChart{
  height: 270px !important;
  width: 400px !important;
}
.container-fluid{
  position:block;
  a.navbar-brand{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
  }
}
.container-fluid.top{
    margin-top: 0.5em;
    margin-bottom: 0.5em;}

a.btn.btn-primary.add{
    float:right;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    background-color: #57e597;
    border-color: #57e597;
}
a.btn.btn-primary.delete{
    background-color: red;
    border-color: red;
}


.navbar.navbar-expand-lg.navbar-light{
    width:100%;
    position: relative;
    //background-color: #57e597;
    background-image: linear-gradient( #57e597, #ffffff);
    top: 0;
}

div.before-footer{
  height:10em;
}
footer{
  width:100%;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(#ffffff, #57e597);
  //background-color: #57e597;
}


.container-fluid.charts{
  //background-color: #eae8e4;
  position: absolute;
  top:30%;
  height:270px;
  background-image: radial-gradient(#eae8e4, #ffffff);
}
.container-fluid{
  padding:0;
  width:100%;
   h1{
     padding-left: 0.5em;
     padding-top: 2em;
     color: #57e597;
     display: inline;
   }
   h2, h3, h4, h5{
     margin-left: 0.2em;
     margin-right: 0.2em;
     display: inline;
   }

}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
*= require bootstrap
*= require bootstrap_responsive
*= require home
*= require application
 */
