@import "bootstrap";

html, body{
  height:100%;
  margin: 0;
  padding: 0;
}
#page{
  min-height: 100%;
  position: relative;
}

.score {
  float: right;
  margin-top: 1em;
  h5{
    margin-right: 1em;
    float: left
  }
  a.btn.btn-primary{
    float: right;
     margin-right: 1em;
   }
  canvas.chart.chartjs-render-monitor{
  float: right;
  height: 75px !important;
  width: 75px !important;
  display: inline !important;
  float: right !important;
  margin-right: 3em;
}
}
.container-fluid{
  position:block;
  a.navbar-brand{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
  }
  form{
    input[type=text], input[type=number],select {
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}
  }
}
.container-fluid.top{
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    h5 {
      color: grey;
      padding-left: 1em;
    }
  }

.container-fluid.form{
  p{
    margin-top: 1em;
    margin-left: 10em;
    margin-right: 10em;
    text-align: justify;

  }

    text-align: center;

}

form{

  label{
    margin: 0.5em;
  }
  input{
    text-align: center;
  }
}

a.btn.btn-primary{
    box-shadow:
		0 1px 1px rgba(0,0,0,0.1),
		inset 0 1px 0 rgba(255,255,255,0.6);
}
a.btn.btn-primary.add{
    float:right;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    background-color: #57e597;
    border-color: #57e597;
    box-shadow:
		0 1px 1px rgba(0,0,0,0.1),
		inset 0 1px 0 rgba(255,255,255,0.6);
}
.btn.btn-primary.add:active{
  background-color: #57e597;
    border-color: #57e597;
}
.btn.btn-primary.add:hover{
  background-color: #57e597;
    border-color: #57e597;
}
.btn.btn-primary.add:focus{
  background-color: #57e597;
    border-color: #57e597;
}
 input.btn.btn-primary.add{
   margin-top: 0.2em;
   margin-bottom: 0.5em;
   margin-right: 0.2em;
   padding: 0.5em;
  background-color: #57e597;
    border-color: #57e597;
 }

 a.back{
   color:#57e597;
  }
a.btn.btn-primary.delete{
    background-color: red;
    border-color: red;
    box-shadow:
		0 1px 1px rgba(0,0,0,0.1),
		inset 0 1px 0 rgba(255,255,255,0.6);
}
.btn.btn-primary.delete:active{
  background-color: red;
    border-color: red;
}
.btn.btn-primary.delete:hover{
  background-color: red;
    border-color: red;
}
.btn.btn-primary.delete:focus{
  background-color: red;
    border-color: red;
}


.navbar.navbar-expand-lg.navbar-light{
    width:100%;
    position: relative;
    //background-color: #57e597;
    background-image: linear-gradient( #57e597, #ffffff);
    top: 0;
}
.nav-item.nav-link.right{
  position: absolute;
  right: 10px;
}

div.before-footer{
  height:10em;
}
footer{
  font-size: 14px;
  text-align: right;
  width:100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(#ffffff, #57e597);
  padding: 1em;

  i.fa{
    margin-left: 5px;

  }
  p.text{
    display: inline;
    padding-left: 5px;
  }

}


.container-fluid.charts{
  position: absolute;
  top:30%;
  height:350px !important;
  background-image: radial-gradient(#eae8e4, #ffffff);
  //display: flex; justify-content: center;
  text-align: center;
  a.btn.btn-primary{
    position: relative;
    display: inline-block;
    top: 45%;
  }
  canvas.chart.chartjs-render-monitor{
    position: absolute;
    height: 350px !important;
    width: 500px !important;
    display: inline !important;
    right :32%;
  }


}
.container-fluid{
  padding:0;
  width:100%;
   h1{
     padding-left: 0.5em;
     padding-top: 2em;
     color: #57e597;
     display: inline;
   }
   h2, h3, h4{
     margin-left: 0.2em;
     margin-right: 0.2em;
     display: inline;
   }

   h5 {
     color: grey;
     padding-left: 1em;
   }

}

/* For log in page*/

html.log {
  background-color: #57e597;

  body {
    background-color: #57e597;
  }

  a {
    color: #57e597;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }

  h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
  }

  img {
    opacity: 0.4;
    height: 130px;
    width: 125px;
    margin-top: 15px;
  }
  /* .roundedOne */
  .roundedOne {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  }

  .roundedOne:checked {
    background-color: gray;
  }


  /* STRUCTURE */

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }

  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }

  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }



  /* TABS */

  h2.inactive {
    color: #cccccc;
  }

  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }



  /* FORM TYPOGRAPHY*/

  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #57e597;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 5px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #57e597;
    color: #fff;
  }

  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=text]:placeholder {
    color: #cccccc;
  }



  /* ANIMATIONS */

  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }

  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }

  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #57e597;
    content: "";
    transition: width 0.2s;
  }

  .underlineHover:hover {
    color: #0d0d0d;
  }

  .underlineHover:hover:after{
    width: 100%;
  }



  /* OTHERS */

  *:focus {
    outline: none;
  }

  #icon {
    width:60%;
  }


}

.tn-box {
  z-index: 1;
	width: 360px;
	position: absolute;
  top: 50px;
  right :35%;
	margin: 0 auto 0 auto;
	padding-top: 14px;
	text-align: center;
	border-radius: 5px;
  box-shadow:
  0 1px 1px rgba(0,0,0,0.1),
  inset 0 1px 0 rgba(255,255,255,0.6);
	opacity: 0;
	cursor: default;
	display: none;

  p {
    color :white;
    font-weight: bold;
  }
}

.tn-box-color-1{
	background: #57e597;
	border: 1px solid #57e597;
}
.tn-box.tn-box-active {
	display: block;
	animation: fadeOut 2s linear forwards;
}

@keyframes fadeOut {
	0% 	{ opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; transform: translateY(0px);}
	99% { opacity: 0; transform: translateY(-30px);}
	100% { opacity: 0; }
}

.tn-box.tn-box-hoverpause:hover{
	animation-play-state: paused;
}


.card-profile {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  height: auto;
  margin: 40px auto;
  top: 15%;
  position: relative;
  text-align: center;
  font-family: arial;

  img.img-size {
    height:100px;
    width: 100px;
  }
}

.title-profile {
  color: grey;
  font-size: 18px;
}

a.profile {
  border: none;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  background-color: #57e597;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width: auto;
}

a.profile:hover {
  opacity: 0.7;
}
.card{
  h5{padding:0;}
  h5.subheading{
    font-size: 16px;
  }
  p.heading{
    font-weight: bold;
  }
  .buttons{
    align-items: center;
    a.btn.btn-primary{
      width: 80px;
      margin: 10px;
    }
  }

}

label.label-color{
  p{
    padding: 0 5px;
    color: white;
    border-radius: 20%;
  }
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #69f4b6;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
*= require bootstrap
*= require bootstrap_responsive
*= require home
*= require application
 */
